<%= render 'shared/page_title', title: @chef.chefname %>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 center">
    <%= gravatar_for @chef, size: 200 %>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-4">
    <%= will_paginate(@recipes) %>
  </div>
</div>

<% @recipes.each_with_index do |recipe, index| %>

  <div class="row">
    
    <div class="col-sm-6 col-sm-offset-3 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class="quiet"><small>created <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
        <br>
        <span class="quiet"><small>updated <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
      </p>
      <%= render 'recipes/like', recipe: recipe %>
    </div>
    
  </div>
  
  <% if index != @recipes.size - 1 %>
    <hr/>
  <% end %>

<% end %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-4">
    <%= will_paginate(@recipes) %>
  </div>
</div>